body
{
    font-family: Arial;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p, select, button
{
    font-size: 24px;
}

h1
{
    font-size: 36px;
}

label
{
    font-weight: bold;
}

button
{
    color: white;
    background-color: purple;
    border-radius: 12px;
    border: 2px outset gray;
    cursor: pointer;
}

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.board td
{
    border-width: 10px;
    border-style: solid;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
}

.board .x, .board .o
{
    font-size: 48px;
}

.x
{
    color: red;
}

.o
{
    color: blue;
}

.board .empty
{
    color: black;
    font-size: 36px;
    cursor: pointer;
}

.board .win
{
    font-size: 72px;
}

.win, .draw, .status
{
    font-weight: bold;
}

.draw
{
    color: black;
}

.left-col
{
    border-left-color: white !important;
}

.right-col
{
    border-right-color: white !important;
}

.top-row
{
    border-top-color: white !important;
}

.bottom-row
{
    border-bottom-color: white !important;
}

.status
{
    font-size: 36px;
}
